.container{
   display: flex;
}

.add{
    background-color: black;
    left:0;
    border:2%;
    height:600px;
    width:500px;
    border-color: black;
}

.button{
    justify-content: center;
}

.calendar{
    background-color:chocolate;
    color:black;
    width: 2000px;
  }
  
.addContainer{
    display: flex;
    color: black;
}
